<h2>{{book.title}}</h2>

<div>
    Author: {{book.author.name}}
    <br>
    Publish Date: {{book.publish_date}}
    <br>
    Page Count: {{book.page_count}}
    <br>
    Description: {{book.description}}
</div>

<div>
    <img height="300" width="300" src={{book.coverImagePath}} alt="{{book.title}}">
    <a href="/books/{{book.id}}/edit" class='btn edit'>Edit</a>
    <form method="POST" action="/books/{{book.id}}?_method=DELETE" class="form-delete">
        <button type="submit" class="btn delete">Delete</button>
    </form>
    <a href="/authors/{{book.author._id}}" class='btn view'>View Author</a>
</div>