<h2> Search Authors</h2>

<form action="/authors" method="GET" class="author-search">
    <label>Name</label>
    <input type='search' name="name" value={{searchOptions.name}}>
    <Button type="submit" class="btn search">Search</Button>
</form>

<ul class="authors-list">
    {{#each authorsList}}
        <li id={{id}}>
            {{name}}
            <a href="/authors/{{id}}" class='btn view'>View</a>
            <a href="/authors/{{id}}/edit" class='btn edit'>Edit</a>
            <form method="POST" action="/authors/{{id}}?_method=DELETE" class="form-delete">
                <button type="submit" class="btn delete">Delete</button>
            </form>
        </li>
    {{/each}}
</ul>