{{> errorMessage}}

<h2>{{author.name}}</h2>

<a href="/authors/{{author.id}}/edit" class='btn edit'>Edit</a>
<form method="POST" action="/authors/{{author.id}}?_method=DELETE" class="form-delete">
    <button type="submit" class="btn delete">Delete</button>
</form>

<h3>Books by the author</h3>

<ul class="books-list">
    {{#each booksList}}
        <li>
            <a href="/books/{{_id}}">
                <img height="150" width="150" src={{coverImagePath}} alt="{{title}}">
            </a>
        </li>
    {{/each}}
</ul>